
  <tr>    
      <th class="col col-lg-11">
      
        <%=  category.category %>

      </th>
      

      
      <td>
        <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-primary btn-sm " %>  
      </td>
      
      
     
    
      
      
  </tr>
    
 