<p style="color: green"><%= notice %></p>

<section class="vh-150  py-5 " >
  <div class="container py-5 h-100 " >
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-lg-9 col-xl-6">
        <div class="card-category">
          <div class="card-body p-4 ">
            <h1 class="text-center my-3 pb-3"> Categories </h1>
              <div class="mb-5">
                <%= link_to "Create Category", new_category_path, class: "btn btn-success btn-sm"%>         
              </div>                   
                <table class=" table mb-1 col col-lg-6">                          
                  <% @categories.each do |category| %>
                    <%= render category %>                            
                  <% end %>                        

                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
