<p style="color: green"><%= notice %></p>
<section class="vh-150  py-5 " >
  <div class="container py-5 h-100  " >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-6">
        <div class="card-category">
          <div class="card-body p-4 contentBlog">
            <h1 class="text-center my-3 pb-3"> Create a new Category </h1>
                                   
                <%= render "form", category: @category %>          
                       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
